@import "tailwindcss";

@font-face {
  font-family: "Young Serif";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 400 600 700;
  font-style: normal;
}

@theme {
  --font-family-young-serif: "Young Serif", serif;
  --font-family-outfit: "Outfit", sans-serif;

  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-brown-800: hsl(14, 45%, 36%);
  --color-rose-50: hsl(330, 100%, 98%);
  --color-rose-800: hsl(332, 51%, 32%);
}

@layer titles {
  .primary-title {
    @apply text-3xl font-bold text-stone-900 font-family-young-serif;
  }

  .secondary-title {
    @apply text-2xl font-bold;
  }
}

/* style custom listes à puces */
.custom-bullet-list {
  list-style: none;
  padding-left: 0;
}

.custom-bullet-list li {
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 0.5em;
}

.custom-bullet-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  font-weight: bold;
}

/* style custom listes numérotées */
.custom-numbered-list {
  list-style: none;
  padding-left: 0;
  counter-reset: item;
}

.custom-numbered-list li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
  counter-increment: item;
}

.custom-numbered-list li::before {
  content: counter(item) ".";
  position: absolute;
  left: 0;
  color: var(--color-brown-800);
  font-weight: bold;
}
